﻿@*<?xml version="1.0" encoding="utf-8" ?>*@
@*<!DOCTYPE VXML PUBLIC "-//W3C//DTD VOICEXML 2.1//EN" "http://www.w3.org/TR/voicexml21/vxml.dtd">*@
@*<vxml version="2.1"  xmlns="http://www.w3.org/2001/vxml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2001/vxml http://www.w3.org/TR/voicexml20/vxml.xsd">*@
<?xml version="1.0" ?>
<!DOCTYPE VXML PUBLIC "-//BeVocal Inc//VoiceXML 2.0//EN" "http://cafe.bevocal.com/libraries/dtd/vxml2-0-bevocal.dtd">
<vxml version="2.0"
      xmlns="http://www.w3.org/2001/vxml"
      xml:lang="en-US">
    @RenderBody()
</vxml>
@*http://www.w3.org/TR/voicexml21/vxml.dtd*@