﻿@using VoiceModel;

@model Ask
           
@{
    Layout = "~/tmp/Views/_Layout.cshtml";
}
<var name="vm_id" expr="'@Model.id'" />
<var name="vm_event" expr="'continue'" />
<var name="vm_result" expr="" />
<var name="vm_sessionid" expr="session.id" />

<form id="@Model.id">
  <field name="F_1" @if(@Model.grammar.isBuiltin)
                    { 
                        @:type="@Html.BuiltinToVxml(@Model.grammar.builtin)" 
                    }>
     @{Html.RenderPartial("Prompt", Model.initialPrompt);}
     @if(!@Model.grammar.isBuiltin)
     {
         if (@Model.grammar.isExternalRef)
         { 
            <grammar src="@Model.grammar.source" type="@Model.grammar.type" />
         }
         else
         {
            @Html.Grammar(@Model.grammar);
         }
     }
  </field>
  <filled>
    <assign name="vm_result" expr="F_1" />
    <submit @Html.Raw("method=\"post\"") next="@Model.nextUri" namelist="vm_id vm_event vm_result vm_sessionid" />
  </filled>
  @Html.NoInput(@Model.noinputPrompts, @Model.nextUri)
  @Html.NoMatch(@Model.nomatchPrompts, @Model.nextUri)

</form>
