﻿@model VoiceModel.Transfer
           
@{
    Layout = "~/tmp/Views/_Layout.cshtml";
}

<var name="vm_id" expr="'@Model.id'" />
<var name="vm_event" expr="'continue'" />
<var name="vm_sessionid" expr="session.id" />

<form id="@Model.id">
   <transfer name="T_1" bridge="@Model.bridge.ToString().ToLower()" 
                dest="@Model.destination"> 

    @{Html.RenderPartial("Prompt", Model.prompts);}
      <filled> 
        <if cond="T_1 == 'busy'"> 
            <assign name="vm_event" expr="'busy'"/> 
        <elseif cond="T_1 == 'noanswer'"/> 
            <assign name="vm_event" expr="'noanswer'"/> 
        </if> 
      </filled> 
  </transfer> 
  <block>
    <submit @Html.Raw( "method=\"post\"" ) next="@Model.nextUri" namelist="vm_id vm_event vm_sessionid" />
  </block>
</form>
